<div class="padding-global padding-section-medium"><div class="container-large"><div class="w-layout-grid contact_component"><div class="contact_content"><div class="margin-bottom margin-small"><h2>
{{ section.settings.text_headline }}
</h2>
</div><p class="text-size-medium">
{{ section.settings.text_text }}
</p>
</div><div class="contact_form-block w-form">{% form 'contact', return_to: '/', class: 'contact_form' %}
<div class="filter_form-field-wrapper"><label for="First-Name" class="field-label">First Name</label><input class="form-input w-input" maxlength="256" name="contact[first_name]" data-name="First Name" placeholder="" type="text" id="First-Name" required="">
</div><div class="filter_form-field-wrapper"><label for="Last-Name" class="field-label">Last Name</label><input class="form-input w-input" maxlength="256" name="contact[last_name]" data-name="Last Name" placeholder="" type="text" id="Last-Name" required="">
</div><div class="filter_form-field-wrapper"><label for="Email" class="field-label">Email</label><input class="form-input w-input" maxlength="256" name="contact[email]" data-name="Email" placeholder="" type="email" id="Email" required="">
</div><div class="filter_form-field-wrapper"><label for="Message" class="field-label">Message</label><textarea class="form-input is-text-area w-input" maxlength="5000" name="contact[body]" data-name="Message" placeholder="Type your message..." id="Message" required=""></textarea></div><div class="margin-bottom margin-xsmall"><label id="Contact-5-Checkbox" class="w-checkbox form-checkbox" name="contact[checkbox]"><div class="w-checkbox-input w-checkbox-input--inputType-custom form-checkbox-icon"></div><input id="Checkbox" type="checkbox" name="Checkbox" data-name="Checkbox" required="" style="opacity:0;position:absolute;z-index:-1">
<span for="Checkbox" class="form-checkbox-label text-size-small w-form-label">I accept the <a href="#" class="text-style-link">Terms</a></span></label></div><input type="submit" data-wait="Please wait..." id="w-node-fc040479-f469-17e6-4116-24f85d6b36df-434db031" class="button w-button" value="Submit">
{% endform %}
<div class="success-message w-form-done"><div class="success-text">Thank you! Your submission has been received!</div></div><div class="error-message w-form-fail"><div class="error-text">Oops! Something went wrong while submitting the form.</div></div></div></div></div></div> {% schema %} {"tag":"section","name":"contact","class":"section_contact","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Contact us"},{"id":"text_text","type":"text","label":"Text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit."}],"presets":[{"name":"contact","category":"Liquify"}]} {% endschema %}