<div class="padding-global"><div class="container-large"><div class="login_tabs is-password"><div class="login_form w-form"><h1 class="heading-style-h2 text-align-center">Under Construction</h1><div class="spacer-xxsmall"></div>{% form 'storefront_password', class: 'form_form' %}
<div class="form_field-wrapper"><input class="form-input w-input" maxlength="256" name="password" data-name="password" placeholder="Password" type="password" id="password" required="">
</div><div class="button-group"><input type="submit" data-wait="" class="button max-width-full w-button" value="Send">
</div>{% endform %}
<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div></div> {% schema %} {"tag":"section","name":"password","class":"section_under-construction","presets":[{"name":"password","category":"Liquify"}]} {% endschema %}