<div class="login_component"><div id="w-node-a80f8362-260a-7256-86a7-00b709fa7e51-434db04d" class="login_left"><div id="w-node-a80f8362-260a-7256-86a7-00b709fa7e52-434db04d" class="login_tabs"><div class="login_form w-form"><h1 class="heading-style-h2 text-align-center">Create Account</h1>{% form 'create_customer', return_to: '/', class: 'form_form' %}
{% if form.errors %}    <div li-if="form.errors">
    <div li-object="form.errors | default_errors" class="text-size-regular text-color-red text-align-center">{{ form.errors | default_errors }}</div>    </div>
{% endif %}<div class="form_field-wrapper"><input class="form-input w-input" maxlength="256" name="customer[first_name]" data-name="" placeholder="First Name*" type="text" id="field" required="">
</div><div class="form_field-wrapper"><input class="form-input w-input" maxlength="256" name="customer[last_name]" data-name="" placeholder="Last Name*" type="text" id="field-2" required="">
</div><div class="form_field-wrapper"><input class="form-input w-input" maxlength="256" name="customer[email]" data-name="" placeholder="Email-Address" type="email" id="field-3" required="">
</div><div class="form_field-wrapper"><input class="form-input w-input" maxlength="256" name="customer[password]" data-name="" placeholder="Password" type="password" id="field-4" required="">
</div><label class="w-checkbox form-checkbox"><input type="checkbox" name="" data-name="" required="" class="w-checkbox-input form-checkbox-icon">
<span class="form-checkbox-label w-form-label">Checkbox Legal</span></label><label class="w-checkbox form-checkbox"><input type="checkbox" name="customer[accepts_marketing]" data-name="" class="w-checkbox-input form-checkbox-icon">
<span class="form-checkbox-label w-form-label">Checkbox Marketing</span></label><input type="submit" data-wait="Please wait" id="w-node-a80f8362-260a-7256-86a7-00b709fa7e67-434db04d" class="button max-width-full w-button" value="Register now">
{% endform %}
<div class="text-size-regular text-align-center">Allready have an Account? <a href="{{ routes.account_login_url }}" li-object:href="routes.account_login_url" class="text-style-link text-weight-bold">Login now</a></div><div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="login_hinweis-kachel w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div><div id="w-node-a80f8362-260a-7256-86a7-00b709fa7e72-434db04d" class="position-relativ"><img class="login_image"
     src="{{ section.settings.image_bild | img_url: 'master' }}"
     alt="{{ section.settings.image_bild.alt }}"
     loading="lazy">
</div></div> {% schema %} {"tag":"section","name":"register","class":"section_login","settings":[{"id":"image_bild","type":"image_picker","label":"Bild"}],"presets":[{"name":"register","category":"Liquify"}]} {% endschema %}