<div class="padding-global padding-section-large"><div class="container-large"><div class="login_tabs"><div class="login_form w-form"><h1 class="heading-style-h2 text-align-center">Reset Password</h1>{% form 'reset_customer_password', class: 'form_form' %}
{% if form.errors %}    <div li-if="form.errors">
    <div li-object="form.errors | default_errors" class="text-size-regular text-color-red text-align-center">{{ form.errors | default_errors }}</div>    </div>
{% endif %}<div class="form_field-wrapper"><input class="form-input w-input" maxlength="256" name="customer[password]" data-name="" placeholder="Password*" type="password" id="field" required="">
</div><div class="form_field-wrapper"><input class="form-input w-input" maxlength="256" name="customer[password_confirmation]" data-name="" placeholder="Confirm Password*" type="password" id="field-2" required="">
</div><input type="submit" data-wait="" id="w-node-b92a1df1-2576-4fde-2b10-96c423ecbb42-434db04e" class="button max-width-full w-button" value="Reset password">
{% endform %}
<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="login_hinweis-kachel w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div></div> {% schema %} {"tag":"section","name":"reset","class":"section_newsletter","presets":[{"name":"reset","category":"Liquify"}]} {% endschema %}