<div class="padding-global padding-section-medium"><div class="container-small"><div class="text-align-center"><div class="max-width-xlarge align-center"><div class="margin-bottom margin-small"><h1>
{{ section.settings.text_headline }}
</h1>
</div><p class="text-size-medium">
{{ section.settings.text_text }}
</p>
<div class="margin-top margin-medium"><div class="button-group is-center"><a li-object:href="routes.root_url" href="{{ routes.root_url }}" class="button w-button">Back to Home</a></div></div></div></div></div></div> {% schema %} {"tag":"header","name":"text_cta","class":"section_header","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Thanks for your Submission"},{"id":"text_text","type":"text","label":"Text","default":"We will contact you soon."}],"presets":[{"name":"text_cta","category":"Liquify"}]} {% endschema %}